<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="DbConnection"
			 connectionString="Data Source=DESKTOP-NDPUQE6;Initial Catalog=LL;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		<add name="DbConnectionCHIS"
			 connectionString="Data Source=CHIS-DESKTOP;Initial Catalog=LL;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="SMTPAddress" value="" />
		<add key="SMTPPassword" value="" />
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="SMTPPort" value="587" />
	</appSettings>
</configuration>